<configuration>

    <!-- Define the STDOUT appender with JSON encoder -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <message/>
                <loggerName/>
                <threadName/>
                <stackTrace/>
                <mdc/>
                <arguments/>
                <pattern>
                    <!-- Customize the JSON pattern as needed -->
                    {
                    "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                    "level": "%level",
                    "message": "%message",
                    "logger": "%logger",
                    "thread": "%thread",
                    "stack_trace": "%stackTrace",
                    "mdc": "%mdc",
                    "arguments": "%arguments"
                    }
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- Set the root level to INFO and attach the STDOUT appender -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>